<!DOCTYPE html>
<html>
<head>
<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
</script>

<script type="text/javascript">
$(document).on('ready', function() {
$('#submit').bind('submit', function(event) {
   event.preventDefault();
    var category = $('#val1').val();
    var budget = $('#val2').val();
    var spent = $('#val3').val();
    var remaining = $('#val4').val();
    
    $( function() {
        $("#submit").click(function() {
            var appdir = '/';
            var send_msg = "Sending!!";
            var receiving_msg = "Result returned";
            console.log(send_msg);
            $('#success').html(send_msg);

            $ajax({
                type: "POST",
                contentType: "application/json",
                url: $SCRIPT_ROOT + "http:/localhost/5000/lists",
                dataType: "json",
                data: {
                    "category" : category,
                    "budget": budget,
                    "spent": spent,
                    "remaining": remaining
                }
            }).done(function(data) {
                console.log(data);
                $('#success').html(received_msg.data['msg']);
            });
        });
    });
  
});

});
</script>
</head>
{% extends 'base.html' %}

    {% block container%}
    <body>
        <form action="/" method="POST">
            <div class="form-group">
                <label>Enter Category</label>
                <input class="form-control" id="val1" type="text" name="category" />
            </div>
            <div class="form-group">
                <label>Enter Budget</label>
                <input class="form-control" id="val2" type="number" name="budget"/>
            </div>
            <div class="form-group">
                <label>Enter Spent Amout</label>
                <input class="form-control" id="val3" type="number" name="spent"/>
            </div>
            <!-- <div class="form-group">
                <label>Remaining</label>
                <input class="form-control" id="val4" type="number" name="remaining"/>
            </div> -->
            <input id="submit" type="submit" />
        </form>
        <small id="success"></small>
        <small id="fail"></small>
    </body>

    {% endblock %}
</html> 
