<!DOCTYPE html>
<html>
{% extends 'base.html' %}

{% block container%}
    <body>
            <table class="table">
            <thead>
            <tr>
                <th>Category</th>
                <th>Budget</th>
                <th>Spent</th>
                <th>Remaining</th>
            </tr>
            </thead>
            <tbody>
            {% for i in rows %}
                <tr>
                    <td>{{i.category}}</td>
                    <td>{{i.budget}}</td>
                    <td>{{i.spent}}</td>
                    <td>{{i.remaining}}</td>
                    <td><a href="{{ url_for('update',budget_id=i._id) }}">EDIT</a></td>
                    <td>
                        <a href="{{ url_for('remove',budget_id=i._id) }}">DELETE</a>
                    </td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </body>
    {% endblock %}
</html> 
