<!DOCTYPE html>
<html>
{% extends 'base.html' %}

{% block container%}
    <body>
        <form action="" method="POST" >
                <input type="text" name="categoty" value="{{ item.category }}"/>
                <input type="number" name="budget" value="{{ item.budget }}"/>
                <input type="number" name="spent" value="{{ item.spent }}"/>
                <input type="number" name="remaining" value="{{ item.remaining }}"/>
                <input type="submit"/>
        </form>
    </body>
{% endblock %}
</html> 
